fastapi==0.110.0
uvicorn[standard]==0.22.0
pydantic==2.6.0
python-multipart==0.0.6
sqlalchemy==2.0.25
python-dotenv==1.0.1

# OPTIONAL — Only install if you want real YOLO CV detection
# comment it out if you don't want slow install
# ultralytics==8.2.0
